{% extends 'index.html' %}

	{% block title %}
	<title>Order</title>
	{% endblock title %}
	{% block content %}
	{% with first_group=user.groups.first %}
	{% if first_group %}
		{% with group_name=first_group.name %}
	{% if orderList %}
	<div class="table">
	<table>
		<thead>
			<tr>
				<th>Client</th>
				<th>Office number</th>
				<th>Menu</th>
				<th>Date</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for item in orderList %}
			<tr>
				<td>{{item.client.user.username}}</td>
				<td>{{item.client.address}}</td>
				<td>{{item.menu.name}} {{item.menu.price}} BIF</td>
				<td>{{item.datetime}}</td>
				<td class="action">
					{% if item.available and group_name == "Client" and not item.delivered  %}
						<p>Placed...</p>
						<a href="{% url 'received' item.id %}" class="received">Receive</a>
					{% elif not item.available and group_name == "Client" and not item.delivered %}
						<button class="received">Placed...</button>
					{% endif %}
					{% if not item.available and group_name == "Chef" %}
						<a href="{% url 'finished' item.id %}" class="finish">Finished</a>
					{% endif %}
					{% if group_name == "Deliver" %}
						<button class="delived">Delivered</button>
					{% endif %}
					{% if item.delivered %}
						<button class="received">Received</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	{% else %}
	<h1 style="text-align:center;">No ordered Menu</h1>
	{% endif %}
		{% endwith %}
	{% else %}
	<h1 style="text-align:center;">No group assigned.</h1>
	{% endif %}
	{% endwith %}


	{% endblock content %}
